node-linker=hoisted
hoist-pattern[]=*
public-hoist-pattern[]=*
virtual-store-dir=.pnpm
link-workspace-packages=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
strict-peer-dependencies=false


